*{
    box-sizing: border-box;
    margin: 0;
    
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    line-height: 1;
}
body p{
    color: #4F4F4F;

    margin-top: 20px;
    line-height: 21px;
}
ul{
    list-style: none;
}
/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
nav-bar
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
.container {
    width: 950px;
    background: white;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
nav-bar
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
.nav-bar{
    display: flex;
    text-align: right;
    justify-content:end;
         
}

.li:last-child{
    margin-right: 0;
} 
        

/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
links
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
a{
    text-decoration: none;
    margin: 0 10px;

}
/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
Logo
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
.logo{
    position: absolute;
    width:58px;
    height: 58px;
    }


    /*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
clear
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
.group:after {
    content: "";
    display: table;
  }
  .group:after {
    clear: both;
  }

/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
button
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
.navBtn{
    font-family: ubuntu;
    font-style: normal;
    
    color: white;
    background-color: blue;

}
.btn-small {
    width:73px ;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
}
.btn-big{
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    width: 119px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
H5
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------

*/
h5{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid gray;
}
h3,
h6 {
    float:right;
}
/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
services
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/

.content {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 150px 150px;
    gap: 20px;
    width: 950px;
}
.box {
    
    margin: 20px;
    background: white;
}
/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
hello
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/

.hello {
    margin-top: 50px;
}
/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
Glid
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
.grid-conatainer {
    display: flex;
    justify-content: center;
}
.photo-grid{
    display: flex;
    width: 950px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex-direction: row;

}
.photo-grid-item {
    width: 200px;
    height:100px;
}

.team-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    gap: 100px;

}
.team {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
h3:before
h3:after {
    content:"";
    display: table;
}


/*------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
footer
---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
*/
 
  .footer {
    box-sizing: border-box;
    background:#f7f7f7;
    height:15vh;
    
  } 
  
   
  
  .icons{
    display: flex;
    justify-content: end;

    
  }
  .icons li {
    margin-right:  40px;
    margin-top: -30px;
  }
 
.web {
    float: left;
    margin: 5px;
}
 @media only screen and (min-width: 700){
    .container {
        width: 700px;
        background: white;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .grid-conatainer {
        display: flex;
        justify-content: center;
    }
    .photo-grid{
        display: flex;
        width: 700px;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 3px;
        align-items: center;
        flex-direction: column;
    
    }
    .photo-grid-item {
        width: 100px;
        height:100px;
    }
    .team-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        gap: 50px;
    
    }
    .team {
        border-radius: 70%;
        width: 100px;
        height: 90px;
    }
    
    
 }


